{
  "openapi": "3.0.3",
  "info": {
    "title": "Lucid Rest API",
    "description": "Lucid Rest API",
    "termsOfService": "https://lucid.co/developer-terms",
    "license": {
      "name": "Lucid",
      "url": "https://lucid.co/developer-terms"
    },
    "version": "1.0.0"
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": false
  },
  "servers": [
    {
      "url": "https://api.lucid.co"
    }
  ],
  "tags": [
    {
      "name": "OAuth 2.0 Tokens",
      "description": "OAuth 2.0 Tokens"
    },
    {
      "name": "Accounts",
      "description": "The Account APIs enable the retrieval of information about a Lucid account."
    },
    {
      "name": "Legal Holds",
      "description": "Legal Holds"
    },
    {
      "name": "Documents Collaboration",
      "description": "Documents Collaboration"
    },
    {
      "name": "Folders Collaboration",
      "description": "Folders Collaboration"
    },
    {
      "name": "Document Access",
      "description": "Document Access"
    },
    {
      "name": "Document Embedding",
      "description": "Document Embedding"
    },
    {
      "name": "Folders",
      "description": "Folders"
    },
    {
      "name": "Share Link Security",
      "description": "Share Link Security"
    },
    {
      "name": "Documents Sharing",
      "description": "Documents Sharing"
    },
    {
      "name": "Transfer Content",
      "description": "Transfer Content"
    },
    {
      "name": "Users",
      "description": "Users"
    },
    {
      "name": "Unfurling",
      "description": "Unfurling"
    },
    {
      "name": "Embedding Utils",
      "description": "Embedding Utils"
    },
    {
      "name": "Document Picker",
      "description": "Document Picker"
    },
    {
      "name": "Audit Logs",
      "description": "Audit Logs"
    },
    {
      "name": "Teams",
      "description": "Teams"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "summary": "Create or Refresh Access Token",
        "operationId": "createOrRefreshAccessToken",
        "tags": [
          "OAuth 2.0 Tokens"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "code",
                      "client_id",
                      "client_secret",
                      "grant_type",
                      "redirect_uri"
                    ],
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "The authorization code."
                      },
                      "client_id": {
                        "type": "string",
                        "description": "The client ID."
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "The client secret."
                      },
                      "grant_type": {
                        "type": "string",
                        "description": "Value is always \"authorization_code\"."
                      },
                      "redirect_uri": {
                        "type": "string",
                        "description": "The redirect URI used to get the authorization code."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "refresh_token",
                      "client_id",
                      "client_secret",
                      "grant_type"
                    ],
                    "properties": {
                      "refresh_token": {
                        "type": "string",
                        "description": "The current refresh token."
                      },
                      "client_id": {
                        "type": "string",
                        "description": "The client ID."
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "The client secret."
                      },
                      "grant_type": {
                        "type": "string",
                        "description": "Value is always \"refresh_token\"."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK application/json with the access token and refresh token (if the offline_access scope was included for creating access token).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Token to be used when making requests with OAuth 2.0 authentication.",
                      "example": "oauth2-Yzh4Y2Q3ZTVhY2FjYjkwOGJlZGNjNjU5NDM2NjgzZmUwMmNmMjkzM..."
                    },
                    "client_id": {
                      "type": "string",
                      "description": "The client ID.",
                      "example": "30VYbvlkqZv-SmJd7fTdpH9B9et2yqZA6Wvi5NY_"
                    },
                    "expires_in": {
                      "type": "number",
                      "description": "The lifetime in seconds of the access token.",
                      "example": 3600
                    },
                    "expires": {
                      "type": "number",
                      "format": "int64",
                      "description": "Time until this token expires (expressed in milliseconds since Unix epoch).",
                      "example": 1605732868411
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "If the token includes the scope `offline_access`, then a refresh token will be provided.",
                      "example": "oauth2-AVU=-yPcwtzLkusIEnT7D9slQH4g8Ur0MdpUmpT0Z6BSMf6lmesRpTTSBGNniKd"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Scopes allowed on this token.",
                      "example": [
                        "lucidchart.document.app",
                        "offline_access"
                      ]
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Value is always \"bearer\".",
                      "example": "bearer"
                    },
                    "user_id": {
                      "type": "number",
                      "description": "ID of the user this token is on behalf of.",
                      "example": 341
                    }
                  },
                  "required": [
                    "access_token",
                    "user_id",
                    "client_id",
                    "expires_in",
                    "expires",
                    "scopes",
                    "token_type"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the client credentials are invalid."
          }
        }
      }
    },
    "/oauth2/token/introspect": {
      "post": {
        "summary": "Introspect Access Token",
        "operationId": "introspectAccessToken",
        "tags": [
          "OAuth 2.0 Tokens"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "token"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The client ID."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The client secret."
                  },
                  "token": {
                    "type": "string",
                    "description": "The token to inspect."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK with information about the token, as specified in OAuth2 Introspect Token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "A boolean value indicating whether or not the token is active.",
                      "example": true
                    },
                    "client_id": {
                      "type": "string",
                      "description": "The client ID.",
                      "example": "30VYbvlkqZv-SmJd7fTdpH9B9et2yqZA6Wvi5NY_"
                    },
                    "expires_in": {
                      "type": "number",
                      "description": "The remaining lifetime in seconds of the access token.",
                      "example": 3500
                    },
                    "expires": {
                      "type": "number",
                      "format": "int64",
                      "description": "Timestamp for when this token expires (expressed in milliseconds since Unix epoch).",
                      "example": 1605732868411
                    },
                    "scope": {
                      "type": "string",
                      "description": "Space-separated list of scopes allowed on this token.",
                      "example": "document.app offline_access"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "The type of token returned (currently, always \"bearer\").",
                      "example": "bearer"
                    },
                    "user_id": {
                      "type": "number",
                      "description": "ID of the user this token is on behalf of.",
                      "example": 1001
                    }
                  },
                  "required": [
                    "active",
                    "user_id",
                    "client_id",
                    "token_type",
                    "scope",
                    "expires_in",
                    "expires"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the client credentials are invalid."
          }
        }
      }
    },
    "/oauth2/token/revoke": {
      "post": {
        "summary": "Revoke Access Token",
        "operationId": "revokeAccessToken",
        "tags": [
          "OAuth 2.0 Tokens"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "token"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The client ID."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The client secret."
                  },
                  "token": {
                    "type": "string",
                    "description": "The token to revoke."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK if the client credentials are valid."
          },
          "403": {
            "description": "Forbidden if the client credentials are invalid."
          }
        }
      }
    },
    "/accounts/me": {
      "get": {
        "summary": "Get Account Information",
        "operationId": "getAccountInformation",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "ApiKey": [
              "AccountReadonly"
            ]
          },
          {
            "OAuth2": [
              "account.info"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The unique ID for the authenticated account."
                    },
                    "name": {
                      "type": "string",
                      "nullable": true,
                      "description": "The name assigned to the account. This field is null if no name has been assigned. Names are usually set by an admin and can be a helpful way to orient a user by informing them about which account an app will interact with."
                    }
                  },
                  "required": [
                    "id",
                    "name"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/me/documents/search": {
      "post": {
        "summary": "Search Account Documents",
        "operationId": "SearchAccountDocuments",
        "tags": [
          "Document Access"
        ],
        "security": [
          {
            "ApiKeys": [
              "DocumentAdmin"
            ]
          },
          {
            "Oauth2": [
              "lucidchart.document.content:admin.readonly",
              "lucidspark.document.content:admin.readonly",
              "lucidscale.document.content:admin.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "header",
            "name": "Lucid-Request-As",
            "required": true,
            "description": "If the requesting user is an account owner or document admin with the required permissions and they make the request\nwith the value of “admin” as this header and include an admin scope, the request will be made using their admin\npermissions.\n",
            "schema": {
              "type": "string"
            },
            "example": "admin"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "List of userIds to include in the search. If no ids are provided, it will search across the entire account."
                  },
                  "ownedByUsers": {
                    "type": "boolean",
                    "description": "Truthy if search results should only include documents owned by users specified by userIds. Ignored if no userIds are provided."
                  },
                  "documentIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "List of documentIds to filter by."
                  },
                  "classificationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "List of classificationIds to filter by."
                  },
                  "statusIds": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "List of statusIds to filter by."
                  },
                  "createdStartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start of range to filter documents by created time."
                  },
                  "createdEndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End of range to filter documents by created time."
                  },
                  "lastModifiedStartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start of range to filter documents by last modified time."
                  },
                  "lastModifiedEndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End of range to filter documents by last modified time."
                  },
                  "product": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "lucidchart",
                        "lucidscale",
                        "lucidspark"
                      ],
                      "example": "lucidchart"
                    },
                    "description": "Array of Lucid Suite products to filter by. Default value assumes all valid products for the given scopes.",
                    "default": [
                      "lucidchart",
                      "lucidscale",
                      "lucidspark"
                    ]
                  },
                  "keywords": {
                    "type": "string",
                    "description": "Keyword(s) to search against document content and titles. When provided, results will be sorted by relevance to keyword search."
                  },
                  "documentLocation": {
                    "type": "string",
                    "enum": [
                      "team folders",
                      "users",
                      "deleted"
                    ],
                    "description": "Specify to search for documents owned by team folders, owned by users, or deleted"
                  },
                  "externalAccess": {
                    "type": "string",
                    "enum": [
                      "any",
                      "external-collaborators",
                      "external-links"
                    ],
                    "description": "Specify to search for documents with either “any” type of external access, “external-collaborators”, or \"external-links\""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "With paginated list of Account Documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique ID of the document",
                      "example": "110808fd-4553-4316-bccf-4f25ff59a532"
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the document",
                      "example": "document title"
                    },
                    "adminViewUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Link to view the document",
                      "example": "https://lucid.app/lucidchart/110808fd-4553-4316-bccf-4f25ff59a532/adminView"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of when the document was created",
                      "example": "2019-04-22T13:47:23Z"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "ownerType": {
                          "type": "string",
                          "description": "user or account"
                        },
                        "id": {
                          "type": "number",
                          "description": "userId or accountId"
                        }
                      }
                    },
                    "lastModified": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of when the document was last modified",
                      "example": "2020-06-26T16:29:37Z"
                    },
                    "trashed": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "If defined, the timestamp when the document was moved to the trash",
                      "example": null
                    },
                    "customTags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of any custom tags assigned to the document",
                      "example": [
                        "in progress"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "enum": [
                        "lucidchart",
                        "lucidscale",
                        "lucidspark"
                      ],
                      "example": "lucidchart"
                    },
                    "status": {
                      "type": "string",
                      "nullable": true,
                      "description": "Current assigned status of the document",
                      "example": "Complete"
                    },
                    "classification": {
                      "type": "string",
                      "nullable": true,
                      "description": "Current assigned classification of the document",
                      "example": "Private"
                    },
                    "parent": {
                      "type": "integer",
                      "nullable": true,
                      "description": "ID of the parent folder",
                      "example": 123456788
                    }
                  },
                  "required": [
                    "documentId",
                    "title",
                    "adminViewUrl",
                    "created",
                    "owner",
                    "lastModified",
                    "customTags",
                    "product"
                  ],
                  "example": {
                    "documentId": "110808fd-4553-4316-bccf-4f25ff59a532",
                    "title": "document title",
                    "adminViewUrl": "https://lucid.app/lucidchart/110808fd-4553-4316-bccf-4f25ff59a532/adminView",
                    "created": "2019-04-22T13:47:23Z",
                    "owner": {
                      "ownerType": "user",
                      "id": "123456"
                    },
                    "lastModified": "2020-06-26T16:29:37Z",
                    "customTags": [
                      "in progress"
                    ],
                    "product": "lucidchart",
                    "status": "Complete",
                    "parent": 123456788,
                    "trashed": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if incorrect format"
          },
          "403": {
            "description": "Forbidden if \"product\" query parameter is used and the token’s scopes do not contain the matching readonly scope for each product, or account does not have access to the API"
          },
          "429": {
            "description": "Too Many Requests if account makes more than 300 requests in 5 seconds"
          }
        }
      }
    },
    "/accounts/me/legalHolds": {
      "post": {
        "summary": "Create Legal Hold",
        "operationId": "createLegalHold",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldEdit"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Title": {
                    "type": "string",
                    "description": "Title that should be given to the newly created legal hold. Max length of title is 80 characters."
                  },
                  "StartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Time that the legal hold should start. Must not be in the past."
                  },
                  "EndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Time that the legal hold should end. End time must be greater than or equal to 24 hours after the start time."
                  },
                  "Description": {
                    "type": "string",
                    "description": "Description that should be given to the newly created legal hold. Max length of description is 256 characters."
                  },
                  "Keywords": {
                    "type": "string",
                    "description": "Keyword(s) to search against document content and titles. Note: When provided, only relevant results will be added to the legal hold. Empty strings will be treated the same as when no keywords are provided. Max length of keywords is 400 characters."
                  }
                },
                "required": [
                  "Title",
                  "StartTime",
                  "EndTime"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "With the newly created legal hold.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LegalHoldId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique ID of the legal hold.",
                      "example": "110808fd-4553-4316-bccf-4f25ff59a532"
                    },
                    "AccountId": {
                      "type": "number",
                      "description": "Unique ID for the creating admin’s account.",
                      "example": 100
                    },
                    "StartTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Start time of the legal hold.",
                      "example": "2025-01-01T16:18:26Z"
                    },
                    "EndTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "End time of the legal hold.",
                      "example": "2025-12-01T16:18:26Z"
                    },
                    "Title": {
                      "type": "string",
                      "description": "Title of the legal hold.",
                      "example": "New Legal Hold"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description of the legal hold.",
                      "example": "Legal hold example"
                    },
                    "Keywords": {
                      "type": "string",
                      "description": "Keyword(s) of the legal hold.",
                      "example": "alpha"
                    },
                    "Created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time that the legal hold was created.",
                      "example": "2024-12-01T16:25:44Z"
                    },
                    "Modified": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time that the legal hold was last modified.",
                      "example": "2024-12-01T16:25:44Z"
                    }
                  },
                  "required": [
                    "LegalHoldId",
                    "AccountId",
                    "StartTime",
                    "EndTime",
                    "Title",
                    "Created",
                    "Modified"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Incorrect format or invalid parameters."
          },
          "403": {
            "description": "Account does not have permission to access the API."
          }
        }
      },
      "get": {
        "summary": "Get Legal Holds",
        "operationId": "getLegalHolds",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldReadonly"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold",
              "account.legalhold:readonly"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "With paginated list of legal holds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LegalHoldId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique ID of the legal hold.",
                        "example": "110808fd-4553-4316-bccf-4f25ff59a532"
                      },
                      "AccountId": {
                        "type": "number",
                        "description": "Unique ID for the creating admin’s account.",
                        "example": 100
                      },
                      "StartTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Start time of the legal hold.",
                        "example": "2025-01-01T16:18:26Z"
                      },
                      "EndTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "End time of the legal hold.",
                        "example": "2025-12-01T16:18:26Z"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the legal hold.",
                        "example": "New Legal Hold"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description of the legal hold.",
                        "example": "Legal hold example"
                      },
                      "Keywords": {
                        "type": "string",
                        "description": "Keyword(s) of the legal hold.",
                        "example": "alpha"
                      },
                      "Created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Time that the legal hold was created.",
                        "example": "2024-12-01T16:25:44Z"
                      },
                      "Modified": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Time that the legal hold was last modified.",
                        "example": "2024-12-01T16:25:44Z"
                      }
                    },
                    "required": [
                      "LegalHoldId",
                      "AccountId",
                      "StartTime",
                      "EndTime",
                      "Title",
                      "Created",
                      "Modified"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account does not have permission to access the API."
          }
        }
      }
    },
    "/accounts/me/legalHolds/{legalHoldId}/users/add": {
      "post": {
        "summary": "Add Legal Hold Users",
        "operationId": "addLegalHoldUsers",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldEdit"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold",
              "account.legalhold.users"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "legalHoldId",
            "required": true,
            "description": "Unique ID of the legal hold.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "List of user ids for users to be put on the specified legal hold. Users must belong to the admin’s account. Max number of users per request is 200."
                  }
                },
                "required": [
                  "Users"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Users were correctly added to the legal hold."
          },
          "400": {
            "description": "Incorrect format or invalid parameters."
          },
          "403": {
            "description": "Account does not have permission to access the API."
          },
          "404": {
            "description": "The specified legal hold id was not found."
          }
        }
      }
    },
    "/accounts/me/legalHolds/{legalHoldId}/users/remove": {
      "post": {
        "summary": "Remove Legal Hold Users",
        "operationId": "removeLegalHoldUsers",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldEdit"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold",
              "account.legalhold.users"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "legalHoldId",
            "required": true,
            "description": "Unique ID of the legal hold.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "List of user ids for users to be removed from the specified legal hold. Users must belong to the admin’s account. Max number of users per request is 200."
                  }
                },
                "required": [
                  "Users"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Users were correctly removed from the legal hold."
          },
          "400": {
            "description": "Incorrect format or invalid parameters."
          },
          "403": {
            "description": "Account does not have permission to access the API."
          },
          "404": {
            "description": "The specified legal hold id was not found."
          }
        }
      }
    },
    "/accounts/me/legalHolds/{legalHoldId}": {
      "patch": {
        "summary": "Edit Legal Hold",
        "operationId": "editLegalHold",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldEdit"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "legalHoldId",
            "required": true,
            "description": "Unique ID of the legal hold.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Title": {
                    "type": "string",
                    "description": "The new title for the legal hold (the existing one will be replaced). Max length of title is 80 characters."
                  },
                  "StartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The new time that the legal hold will begin. Must be at least 24 hours before the end time and cannot be in the past. Cannot be changed if the legal hold has already started."
                  },
                  "EndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The new time that the legal hold will end and documents on the legal hold will be released. Must be at least 24 hours after the start time and cannot be in the past."
                  },
                  "Description": {
                    "type": "string",
                    "description": "The new description for the legal hold (the existing one will be replaced). Max length of description is 256 characters."
                  },
                  "Keywords": {
                    "type": "string",
                    "description": "The new keywords for the legal hold (any existing ones will be replaced). Max length of keywords is 400 characters. Cannot be changed if the legal hold has already started."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "With the legal hold that was successfully modified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LegalHoldId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique ID of the legal hold.",
                      "example": "110808fd-4553-4316-bccf-4f25ff59a532"
                    },
                    "AccountId": {
                      "type": "number",
                      "description": "Unique ID for the creating admin’s account.",
                      "example": 100
                    },
                    "StartTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Start time of the legal hold.",
                      "example": "2025-01-01T16:18:26Z"
                    },
                    "EndTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "End time of the legal hold.",
                      "example": "2025-12-01T16:18:26Z"
                    },
                    "Title": {
                      "type": "string",
                      "description": "Title of the legal hold.",
                      "example": "New Legal Hold"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description of the legal hold.",
                      "example": "Legal hold example"
                    },
                    "Keywords": {
                      "type": "string",
                      "description": "Keyword(s) of the legal hold.",
                      "example": "alpha"
                    },
                    "Created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time that the legal hold was created.",
                      "example": "2024-12-01T16:25:44Z"
                    },
                    "Modified": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time that the legal hold was last modified.",
                      "example": "2024-12-01T16:25:44Z"
                    }
                  },
                  "required": [
                    "LegalHoldId",
                    "AccountId",
                    "StartTime",
                    "EndTime",
                    "Title",
                    "Created",
                    "Modified"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Incorrect format or invalid parameters."
          },
          "403": {
            "description": "Account does not have permission to access the API."
          },
          "404": {
            "description": "The specified legal hold id was not found."
          }
        }
      }
    },
    "/accounts/me/legalHolds/{legalHoldId}/release": {
      "post": {
        "summary": "Release Legal Hold",
        "operationId": "releaseLegalHold",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldEdit"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "legalHoldId",
            "required": true,
            "description": "Unique ID of the legal hold.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "With the legal hold that was released.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LegalHoldId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique ID of the legal hold.",
                      "example": "110808fd-4553-4316-bccf-4f25ff59a532"
                    },
                    "AccountId": {
                      "type": "number",
                      "description": "Unique ID for the creating admin’s account.",
                      "example": 100
                    },
                    "StartTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Start time of the legal hold.",
                      "example": "2025-01-01T16:18:26Z"
                    },
                    "EndTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "End time of the legal hold.",
                      "example": "2025-12-01T16:18:26Z"
                    },
                    "Title": {
                      "type": "string",
                      "description": "Title of the legal hold.",
                      "example": "New Legal Hold"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description of the legal hold.",
                      "example": "Legal hold example"
                    },
                    "Keywords": {
                      "type": "string",
                      "description": "Keyword(s) of the legal hold.",
                      "example": "alpha"
                    },
                    "Created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time that the legal hold was created.",
                      "example": "2024-12-01T16:25:44Z"
                    },
                    "Modified": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time that the legal hold was last modified.",
                      "example": "2024-12-01T16:25:44Z"
                    }
                  },
                  "required": [
                    "LegalHoldId",
                    "AccountId",
                    "StartTime",
                    "EndTime",
                    "Title",
                    "Created",
                    "Modified"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account does not have permission to access the API."
          },
          "404": {
            "description": "The specified legal hold id was not found."
          }
        }
      }
    },
    "/accounts/me/legalHolds/{legalHoldId}/users": {
      "get": {
        "summary": "Get Legal Hold Users",
        "operationId": "getLegalHoldUsers",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldReadonly"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold",
              "account.legalhold:readonly",
              "account.legalhold.users",
              "account.legalhold.users:readonly"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "legalHoldId",
            "required": true,
            "description": "Unique ID of the legal hold.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "With paginated list of Users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountId": {
                        "type": "number",
                        "example": 100,
                        "description": "The unique ID for the user's account."
                      },
                      "email": {
                        "type": "string",
                        "example": "john-doe@example.com",
                        "description": "The user's email."
                      },
                      "name": {
                        "type": "string",
                        "example": "John Doe",
                        "description": "The user's full name."
                      },
                      "userId": {
                        "type": "number",
                        "example": 101,
                        "description": "The unique ID for the user."
                      },
                      "username": {
                        "type": "string",
                        "example": "johndoe",
                        "description": "The user's username."
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "billing-admin",
                            "team-admin",
                            "document-admin",
                            "template-admin"
                          ],
                          "description": "Allows various administrative actions."
                        },
                        "example": [
                          "billing-admin",
                          "team-admin"
                        ],
                        "description": "A list of administrative roles assigned to the user."
                      }
                    },
                    "description": "A standard representation of a user."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account does not have permission to access the API."
          },
          "404": {
            "description": "The specified legal hold id was not found."
          }
        }
      }
    },
    "/accounts/me/legalHoldDocuments/{legalHoldId}": {
      "get": {
        "summary": "Get Legal Hold Documents",
        "operationId": "getLegalHoldDocuments",
        "tags": [
          "Legal Holds"
        ],
        "security": [
          {
            "ApiKey": [
              "LegalHoldReadonly"
            ]
          },
          {
            "OAuth2": [
              "account.legalhold",
              "account.legalhold:readonly"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "legalHoldId",
            "required": true,
            "description": "Unique ID of the legal hold.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "With paginated list of Documents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "documentId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique ID of the document",
                        "example": "110808fd-4553-4316-bccf-4f25ff59a532"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the document",
                        "example": "document title"
                      },
                      "editUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Link to edit the document",
                        "example": "https://lucid.app/lucidchart/110808fd-4553-4316-bccf-4f25ff59a532/edit"
                      },
                      "viewUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Link to view the document",
                        "example": "https://lucid.app/lucidchart/110808fd-4553-4316-bccf-4f25ff59a532/view"
                      },
                      "version": {
                        "type": "integer",
                        "description": "Most recent version",
                        "example": 101
                      },
                      "pageCount": {
                        "type": "integer",
                        "description": "Number of pages within the document",
                        "example": 5
                      },
                      "canEdit": {
                        "type": "boolean",
                        "description": "If requesting user can edit the document",
                        "example": false
                      },
                      "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of when the document was created",
                        "example": "2019-04-22T13:47:23Z"
                      },
                      "creatorId": {
                        "type": "integer",
                        "description": "ID of user who created and owns the document",
                        "example": 12345
                      },
                      "lastModified": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of when the document was last modified",
                        "example": "2020-06-26T16:29:37Z"
                      },
                      "lastModifiedUserId": {
                        "type": "integer",
                        "description": "ID of user who most recently modified the document",
                        "example": 54321
                      },
                      "customAttributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "singleLineText",
                                "multiLineText",
                                "singleSelectDropdown",
                                "multiSelectDropdown",
                                "webLink",
                                "numericalRange",
                                "hierarchicalDropdown"
                              ],
                              "description": "The custom attribute type",
                              "example": "singleLineText"
                            },
                            "name": {
                              "type": "string",
                              "description": "Title of the custom attribute. hierarchicalDropdown attributes do not have names.",
                              "example": "Sample Label"
                            },
                            "value": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "Custom data key"
                                          },
                                          "value": {
                                            "type": "string",
                                            "description": "Custom data value"
                                          }
                                        },
                                        "description": "Object representing a key-value pair of data.",
                                        "required": [
                                          "name",
                                          "value"
                                        ],
                                        "example": {
                                          "name": "City",
                                          "value": "New York"
                                        }
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The value assigned to the custom attribute. The type of this value is determined by the Attribute Type.",
                              "example": null
                            }
                          },
                          "description": "Object representing a custom attribute value for a document.",
                          "required": [
                            "type"
                          ]
                        },
                        "description": "List of any custom attributes belonging to the document. Populated for Enterprise Accounts only.",
                        "example": []
                      },
                      "customTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of any custom tags assigned to the document",
                        "example": [
                          "in progress"
                        ]
                      },
                      "product": {
                        "type": "string",
                        "enum": [
                          "lucidchart",
                          "lucidscale",
                          "lucidspark"
                        ],
                        "example": "lucidchart"
                      },
                      "status": {
                        "type": "string",
                        "nullable": true,
                        "description": "Current assigned status of the document",
                        "example": "Complete"
                      },
                      "classification": {
                        "type": "string",
                        "nullable": true,
                        "description": "Current assigned classification of the document",
                        "example": "Private"
                      },
                      "trashed": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "If defined, the timestamp when the document was moved to the trash",
                        "example": null
                      },
                      "parent": {
                        "type": "integer",
                        "nullable": true,
                        "description": "ID of the parent folder",
                        "example": null
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Id of either the user or the account, depending on the type of the document user resource.",
                            "example": 123456
                          },
                          "type": {
                            "type": "string",
                            "description": "Specifies if the owner resource is referring to a user or an account. Value will be either \"user\" or \"account\".",
                            "example": "user"
                          },
                          "name": {
                            "type": "string",
                            "description": "Full name of the user that owns this document. This field is excluded if this document is owned by an account.",
                            "example": "John Doe"
                          }
                        }
                      }
                    },
                    "required": [
                      "documentId",
                      "title",
                      "editUrl",
                      "viewUrl",
                      "version",
                      "pageCount",
                      "canEdit",
                      "created",
                      "creatorId",
                      "lastModified",
                      "lastModifiedUserId",
                      "customAttributes",
                      "customTags",
                      "product"
                    ],
                    "example": {
                      "documentId": "110808fd-4553-4316-bccf-4f25ff59a532",
                      "title": "document title",
                      "editUrl": "https://lucid.app/lucidchart/110808fd-4553-4316-bccf-4f25ff59a532/edit",
                      "viewUrl": "https://lucid.app/lucidchart/110808fd-4553-4316-bccf-4f25ff59a532/view",
                      "version": 101,
                      "pageCount": 5,
                      "canEdit": false,
                      "created": "2019-04-22T13:47:23Z",
                      "creatorId": 12345,
                      "lastModified": "2020-06-26T16:29:37Z",
                      "lastModifiedUserId": 54321,
                      "customAttributes": [],
                      "customTags": [
                        "in progress"
                      ],
                      "product": "lucidchart",
                      "status": "Complete",
                      "classification": "Private",
                      "trashed": null,
                      "parent": null,
                      "owner": {
                        "id": 123456,
                        "type": "user",
                        "name": "John Doe"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account does not have permission to access the API."
          },
          "404": {
            "description": "The specified legal hold id was not found."
          }
        }
      }
    },
    "/documents/{id}/shares/users/{userId}": {
      "get": {
        "summary": "Get Document User Collaborator",
        "operationId": "getDocumentUserCollaborators",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentReadonly"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.content.share.collaborator:readonly",
              "lucidchart.document.app.picker.share.collaborator:readonly",
              "lucidchart.document.app.folder",
              "lucidscale.document.content.share.collaborator:readonly",
              "lucidscale.document.app.picker.share.collaborator:readonly",
              "lucidscale.document.app.folder",
              "lucidspark.document.content.share.collaborator:readonly",
              "lucidspark.document.app.picker.share.collaborator:readonly",
              "lucidspark.document.app.folder"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "110808fd-4553-4316-bccf-4f25ff59a532"
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "description": "ID of the user to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK with a Document User Collaborator Resource containing information about the user's collaboration settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Document ID"
                    },
                    "userId": {
                      "type": "integer",
                      "description": "User ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "documentId",
                    "userId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the app making the request does not have permission to the document, or if the document has been deleted, or does not exist."
          },
          "404": {
            "description": "Not Found when a user with the specified ID can not be found or does not have collaborator access to the document."
          }
        }
      },
      "put": {
        "summary": "Create/Update Document User Collaborator",
        "operationId": "putDocumentUserCollaborators",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentEdit"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.content.share.collaborator",
              "lucidchart.document.app.picker.share.collaborator",
              "lucidchart.document.app.folder",
              "lucidscale.document.content.share.collaborator",
              "lucidscale.document.app.picker.share.collaborator",
              "lucidscale.document.app.folder",
              "lucidspark.document.content.share.collaborator",
              "lucidspark.document.app.picker.share.collaborator",
              "lucidspark.document.app.folder"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "110808fd-4553-4316-bccf-4f25ff59a532"
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "description": "ID of the user to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "editandshare",
                      "edit",
                      "comment",
                      "view"
                    ],
                    "example": "comment",
                    "description": "The Collaborator Role to assign to the user for this document."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK when updating an existing Document User Collaborator. Contains the updated Document User Collaborator Resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Document ID"
                    },
                    "userId": {
                      "type": "integer",
                      "description": "User ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "documentId",
                    "userId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created when creating a new Document User Collaborator. Contains the new Document User Collaborator Resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Document ID"
                    },
                    "userId": {
                      "type": "integer",
                      "description": "User ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "documentId",
                    "userId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the token does not have permission to the document, or if the document has been deleted or does not exist."
          }
        }
      },
      "delete": {
        "summary": "Delete Document User Collaborator",
        "operationId": "deleteDocumentUserCollaborators",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentEdit"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.content.share.collaborator",
              "lucidchart.document.app.picker.share.collaborator",
              "lucidchart.document.app.folder",
              "lucidscale.document.content.share.collaborator",
              "lucidscale.document.app.picker.share.collaborator",
              "lucidscale.document.app.folder",
              "lucidspark.document.content.share.collaborator",
              "lucidspark.document.app.picker.share.collaborator",
              "lucidspark.document.app.folder"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "110808fd-4553-4316-bccf-4f25ff59a532"
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "description": "ID of the user to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content when the user's collaborator record on the document was successfully deleted."
          },
          "403": {
            "description": "Forbidden\n* if the token does not have permission to the document, or if the document has been deleted or does not exist.\n* when attempting to revoke the collaboration for the document owner.\n"
          }
        }
      }
    },
    "/documents/{id}/shares/users": {
      "get": {
        "summary": "List Document User Collaborators",
        "operationId": "listDocumentUserCollaborators",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentReadonly"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.content.share.collaborator:readonly",
              "lucidchart.document.app.picker.share.collaborator:readonly",
              "lucidchart.document.app.folder",
              "lucidscale.document.content.share.collaborator:readonly",
              "lucidscale.document.app.picker.share.collaborator:readonly",
              "lucidscale.document.app.folder",
              "lucidspark.document.content.share.collaborator:readonly",
              "lucidspark.document.app.picker.share.collaborator:readonly",
              "lucidspark.document.app.folder"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK with an array of Document User Collaborator Resources for the document's collaborators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "documentId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Document ID"
                      },
                      "userId": {
                        "type": "integer",
                        "description": "User ID"
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "owner",
                          "editandshare",
                          "edit",
                          "comment",
                          "view"
                        ],
                        "description": "The Collaborator Role on the document or folder"
                      },
                      "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time when the collaboration was created"
                      }
                    },
                    "required": [
                      "documentId",
                      "userId",
                      "role",
                      "created"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the token does not have permission to the document, or if the document has been deleted or does not exist."
          }
        }
      }
    },
    "/documents/{id}/shares/teams/{teamId}": {
      "get": {
        "summary": "Get Document Team Collaborator",
        "operationId": "getDocumentTeamCollaborator",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentReadonly"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.app.folder",
              "lucidchart.document.app.picker.share.collaborator:readonly",
              "lucidchart.document.content.share.collaborator:readonly",
              "lucidscale.document.app.folder",
              "lucidscale.document.app.picker.share.collaborator:readonly",
              "lucidscale.document.content.share.collaborator:readonly",
              "lucidspark.document.app.folder",
              "lucidspark.document.app.picker.share.collaborator:readonly",
              "lucidspark.document.content.share.collaborator:readonly"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "110808fd-4553-4316-bccf-4f25ff59a532"
          },
          {
            "in": "path",
            "name": "teamId",
            "required": true,
            "description": "ID of the team to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            },
            "example": 99
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns a Document Team Collaborator Resource containing information about the team's collaboration settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Document ID"
                    },
                    "teamId": {
                      "type": "integer",
                      "description": "Team ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "documentId",
                    "teamId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Occurs if the app making the request does not have permission for the document, or if the document has been deleted or does not exist."
          },
          "404": {
            "description": "Not Found. Occurs when a team with the specified ID can not be found or does not have collaborator access to the document."
          }
        }
      },
      "put": {
        "summary": "Create/Update Document Team Collaborator",
        "operationId": "putDocumentTeamCollaborator",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentEdit"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.app.folder",
              "lucidchart.document.app.picker.share.collaborator",
              "lucidchart.document.content.share.collaborator",
              "lucidscale.document.app.folder",
              "lucidscale.document.app.picker.share.collaborator",
              "lucidscale.document.content.share.collaborator",
              "lucidspark.document.app.folder",
              "lucidspark.document.app.picker.share.collaborator",
              "lucidspark.document.content.share.collaborator"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "110808fd-4553-4316-bccf-4f25ff59a532"
          },
          {
            "in": "path",
            "name": "teamId",
            "required": true,
            "description": "ID of the team to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            },
            "example": 99
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "editandshare",
                      "edit",
                      "comment",
                      "view"
                    ],
                    "example": "comment",
                    "description": "The Collaborator Role to assign to the user for this document."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK when updating an existing Document Team Collaborator. Contains the updated Document Team Collaborator Resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Document ID"
                    },
                    "teamId": {
                      "type": "integer",
                      "description": "Team ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "documentId",
                    "teamId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created when creating a new Document Team Collaborator. Contains the new Document Team Collaborator Resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Document ID"
                    },
                    "teamId": {
                      "type": "integer",
                      "description": "Team ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "documentId",
                    "teamId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the token does not have permission to the document, or if the document has been deleted or does not exist."
          }
        }
      },
      "delete": {
        "summary": "Delete Document Team Collaborator",
        "operationId": "deleteDocumentTeamCollaborator",
        "tags": [
          "Documents Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "DocumentEdit"
            ]
          },
          {
            "OAuth2": [
              "lucidchart.document.app.folder",
              "lucidchart.document.app.picker.share.collaborator",
              "lucidchart.document.content.share.collaborator",
              "lucidscale.document.app.folder",
              "lucidscale.document.app.picker.share.collaborator",
              "lucidscale.document.content.share.collaborator",
              "lucidspark.document.app.folder",
              "lucidspark.document.app.picker.share.collaborator",
              "lucidspark.document.content.share.collaborator"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the document.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "110808fd-4553-4316-bccf-4f25ff59a532"
          },
          {
            "in": "path",
            "name": "teamId",
            "required": true,
            "description": "ID of the team to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            },
            "example": 99
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The team's collaborator record on the document was successfully deleted."
          },
          "403": {
            "description": "Forbidden\n* if the token does not have permission to the document, or if the document has been deleted or does not exist.\n* when attempting to revoke the collaboration for the document owner.\n"
          }
        }
      }
    },
    "/folders/{id}/shares/users/{userId}": {
      "get": {
        "summary": "Get Folder User Collaborator",
        "operationId": "getFolderUserCollaborators",
        "tags": [
          "Folders Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "FolderReadonly"
            ]
          },
          {
            "OAuth2": [
              "folder:readonly"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the folder.",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "description": "ID of the user to retrieve collaborator settings for.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK with a Folder User Collaborator Resource containing information about the user's collaboration settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folderId": {
                      "type": "integer",
                      "description": "Folder ID"
                    },
                    "userId": {
                      "type": "integer",
                      "description": "User ID"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "editandshare",
                        "edit",
                        "comment",
                        "view"
                      ],
                      "description": "The Collaborator Role on the document or folder"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the collaboration was created"
                    }
                  },
                  "required": [
                    "folderId",
                    "userId",
                    "role",
                    "created"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the app making the request does not have permission to the folder, or if the folder has been deleted, or does not exist."
          },
          "404": {
            "description": "Not Found when a user with the specified ID cannot be found or does not have collaborator access to the folder."
          }
        }
      },
      "put": {
        "summary": "Create/Update Folder User Collaborator",
        "operationId": "putFolderUserCollaborator",
        "tags": [
          "Folders Collaboration"
        ],
        "security": [
          {
            "ApiKey": [
              "FolderEdit"
            ]
          },
          {
            "OAuth2": [
              "folder"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Lucid-Api-Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The API version used in the request.",
            "example": "1"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the folder.",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "description": "ID of the user whose role to create or modify.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
[...]
